<div class="p-3">
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <input class="form-control" placeholder="Find point" type="text" (keyup)="updateFilter($event)"/>
      </div>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary" (click)="createPoint()">Create Point</button>
    </div>
  </div>
  <div class="row">
    <div class="col col-12">
      <ngx-datatable
        #pointTable
        [columnMode]="'flex'"
                     [footerHeight]="50"
                     [headerHeight]="50"
                     [rowHeight]="60"
                     [rows]="list"
                     [limit]="20"
                     class="bootstrap fullscreen">

        <ngx-datatable-column name="Edit" [flexGrow]="0.5" >
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button class="btn btn-secondary" (click)="updatePoint(row._id)" ngbTooltip="Edit" placement="top" type="button"><i class="fas fa-edit"></i></button>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Delete" [flexGrow]="0.5" >
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button class="btn btn-secondary" (click)="deletePoint(row._id)" ngbTooltip="Delete" placement="top" type="button"><i class="fas fa-trash"></i></button>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="2" name="Name" prop="name"></ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="2" name="Data Type" prop="dataType"></ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="2" name="Value" prop="value"></ngx-datatable-column>


      </ngx-datatable>

    </div>
  </div>
</div>

